/* jrg-mapexplorer */
.ace_editor {
  height: 400px;
}
.node polygon {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text,
.link text,
.textpath {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.win polygon {
  stroke: red;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
md-tabs,
md-tab-content.md-no-scroll {
  overflow: visible;
}
md-dialog.info {
  opacity: 0.9;
}
table.link td,
table.evidence td {
  font-family: monospace;
}
st-map-explorer {
  display: block;
}
