.ace_editor {
    color: white !important;
}

.ace-tm .ace_gutter, .ace-tm .ace_gutter-active-line {
    background-color: black !important;
    color: white !important;
    text-align: right;
}

.with-json .ace-tm .ace_gutter, .with-json .ace-tm .ace_gutter-active-line {
    width: 120px !important;
}

.with-json .ace_layer.ace_gutter-layer.ace_folding-enabled {
    width: 120px !important;
}

.ace_scroller {
    background: #3E3E3E !important;
}

.ace-tm .ace_marker-layer .ace_selection {
    background: black !important;
}
