st-tag-color-picker md-color-picker md-input-container {
    display: none;
}

st-tag-color-picker md-color-picker .md-color-picker-input-container .md-color-picker-preview {
    top: 0;
    margin-right:10px;
}

st-tag-color-picker span {
    align-self: center;
}

#tags-configuration {
    padding: 5px;
}
