/* jrg-mapexplorer */
.ace_editor {
  height: 400px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.win polygon {
  stroke: red;
}

h2 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  letter-spacing: 0px;
}

.tip {
    font-family: Gibson-Regular, 'Montserrat', sans-serif;
    font-size: 42px;
    color: #E3E3E3;
}

.tip span {
    /* margin: auto; */
    text-align: center;
}

.form {
    background: #F3F3F3;
    padding: 0 200px 20px 200px;
}

.form label {
    font-family: Gibson-SemiBold, 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #ADADAD;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.form input {
    margin-right: 10px;
    background-color: white;
    border: none;
    padding-left: 5px;
    height: 40px;
}

.form .md-button.primary {
    font-family: Gibson-Regular, 'Montserrat', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background: #EC714A;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 0;
}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab,
.md-button.md-fab {
    background: #7BC0D2;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background: #EC714A;
}

st-map-explorer {
    overflow: scroll;
}

.scroll {
    overflow: scroll;
}
