.node {
  cursor: pointer;
}

.node polygon {
  fill: #7bc0d2;
}

.node text {
  font-family: "RationalTWText-SemiBold", "Roboto Mono", monospace;
  font-size: 14px;
  fill: #ffffff;
}

.node rect {
  fill: #459fb7;
}

.textpath {
  font-family: "Gibson-Regular", "Montserrat", sans-serif;
  font-size: 14px;
  fill: #c1c1c1;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
  marker-end: url("#triangle");
}

.node.selected polygon {
  fill: #3e3e3e;
}

.node.selected rect {
  fill: #2e2e2e;
}

path .link.ref:hover {
  stroke: #000;
  cursor: pointer;
}

text #ref-link-text:hover {
  fill: #000;
  cursor: pointer;
  font-size: 24px;
}

.node.childRef polygon {
  fill: #cd5c5c;
}

.node.childRef rect {
  fill: #8b0000;
}

.node.ref polygon {
  fill: #cd5c5c;
}

.node.ref rect {
  fill: #8b0000;
}

#ref-link {
  stroke-width: 8;
}

#ref-link:hover {
  stroke: black;
  cursor: pointer;
  stroke-width: 10;
  marker-end: url("#blackTriangle");
}

text#linkLabelRef {
  cursor: pointer;
  font-family: "RationalTWText-SemiBold", "Roboto Mono", monospace;
  fill: white;
}

rect.refLinkBox {
  cursor: pointer;
  fill: #8b0000;
}
