md-tabs,
md-tab-content.md-no-scroll {
    overflow: visible;
}
table.link td,
table.evidence td {
    font-family: monospace;
}
st-map-explorer {
    display: block;
}

md-pagination-wrapper {
    margin-left: 200px;
}

md-tabs md-ink-bar {
    color: #EC714A;
    height: 5px;
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon,
md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused,
md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon,
md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: black;
}

md-tabs-canvas {
    height: 60px;
    background-color: rgb(243, 243, 243);
}

md-tab-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #111111;
    letter-spacing: 0px;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
    border-bottom: none;
}