st-map-validator {
    min-width: 25%;
    padding-left: 15px;
}

ul {
    list-style: none;
}

st-map-validator li {
    margin: 1.5rem 0;
    position: relative;
}

st-map-validator li:before {
    content: " ";
    background-size: cover;
    background-image: url("../images/li_inactive.svg");
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: -2rem;
    top: 0.8em;
}

st-map-validator li.success:before {
    background-image: url("../images/li_success.svg");
}

st-map-validator li.error:before {
    background-image: url("../images/li_error.svg");
}

st-map-validator li.loading:before {
    background-image: none;
}

st-map-validator li.loading {
    margin-left: -25px;
}

st-map-validator md-progress-circular {
    position: relative;
    left: -20px;
    margin: 0;
}

st-map-validator h3 {
    font-family: 'Gibson-Regular', 'Montserrat', sans-serif;
    font-size: 18px;
    color: #7BD8CF;
}
