.segment-container .title {
  background: #2e2e2e;
  padding: 10px 100px;
}

.segment-container .title md-icon {
  color: white;
}

.segment-container {
  color: white;
}

.segment-container h1 {
  margin-top: 0;
  font-family: Gibson-SemiBold, "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #cccccc;
  text-transform: uppercase;
}

.segment-container h2 {
  margin-bottom: 0;
  font-family: Gibson-Light, "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-transform: none;
}

.segment-container .body {
  background: #3e3e3e;
  padding: 0 100px;
  max-height: 400px;
  overflow-y: scroll;
}

.segment-container li {
  cursor: pointer;
  font-family: "Gibson-Regular", "Montserrat", sans-serif;
  font-size: 15px;
  color: #cccccc;
  margin: 20px 0;
  width: 100px;
}

.segment-container ul {
  padding-left: 0;
  padding-right: 5px;
}

.segment-container .ace_editor {
  width: 100%;
}

.segment-container .ace-tm .ace_gutter,
.segment-container .ace_scroller {
  padding-top: 20px;
}

.segment-container li.active {
  color: #ec714a;
  border-bottom: 2px solid #ec714a;
}

.segment-container li {
  outline: 0;
}

.segment-container h4 {
  font-family: Gibson-SemiBold, "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #adadad;
  text-transform: uppercase;
  margin-bottom: 0;
}

.segment-container p {
  font-family: RationalTWText-Light, "Roboto Mono", monospace;
  font-size: 14px;
  color: white;
  margin-top: 0;
}

.segment-container a {
  font-family: "Gibson-Regular", "Montserrat", sans-serif;
  font-size: 15px;
  color: #ec714a;
  display: block;
}

.body {
  display: flex;
}

text#linkLabelRef {
  cursor: pointer;
  font-family: "RationalTWText-SemiBold", "Roboto Mono", monospace;
  fill: white;
}

rect.refLinkBox {
  cursor: pointer;
  fill: #8b0000;
}
