.node {
  cursor: pointer;
}

.node polygon {
  fill: $segment-primary-color;
}

.node text {
  font-family: $segment-text-font;
  font-size: 14px;
  fill: $segment-text-color;
}

.node rect {
  fill: $segment-secondary-color;
}

.textpath {
  font-family: $link-text-font;
  font-size: 14px;
  fill: $link-text-color;
}

.link {
  fill: none;
  stroke: $link-color;
  stroke-width: 5px;
  marker-end: url("#triangle");
}

path .link.ref:hover {
  stroke: #000;
  cursor: pointer;
}

text #ref-link-text:hover {
  fill: #000;
  cursor: pointer;
  font-size: 24px;
}

.node.selected polygon {
  fill: $selected-segment-primary-color;
}

.node.selected rect {
  fill: $selected-segment-secondary-color;
}
