$segment-primary-color: #293047 !default;
$segment-secondary-color: darken(#293047, 20%) !default;
$segment-text-color: white !default;
$segment-text-font: "RationalTWText-SemiBold", "Roboto Mono", monospace !default;

$selected-segment-primary-color: #2be4a6 !default;
$selected-segment-secondary-color: darken(#2be4a6, 20%) !default;

$link-text-font: "Gibson-Regular", "Montserrat", sans-serif !default;
$link-text-color: #293047 !default;
$link-color: #999 !default;

$merkle-path-node-color: black !default;
$merkle-path-link-color: black !default;

$foreign-segment-primary-color: #cd5c5c;
$foreign-segment-secondary-color: #8b0000;
$link-text-color: #6e6e6e;
